* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*---UTILITIES---*/

.bg-blue {
  background-color: blue;
  border: 2px solid white;
}

.height-100px {
  height: 100px;
}

/*---CONTENT---*/
